<?xml version="1.0" encoding="UTF-8"?>
    <Configuration status="INFO">
        
      <Properties>
        <Property name="LOG_DIR">/home/javaapps/sbt-projects/BVS-InfoButton/logs</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSz}\t%m%n</Property>
      </Properties>
      
      <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
          <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>   
        
        <RollingFile name="infoLog" fileName="${LOG_DIR}/app-info.log" filePattern="${LOG_DIR}/app-info.%d{dd-MMM}.log" immediateFlush="true">
            <!--LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/-->
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout> 
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>      
      </Appenders>
      <Loggers>
        <Root level="INFO">
          <AppenderRef ref="infoLog"/>
          <!--AppenderRef ref="Console"/-->
        </Root>
      </Loggers>
    </Configuration>
