<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>BVS_SOLR_URL</param-name>
        <!-- param-value>http://basalto02.bireme.br:8986/solr5/portal/select</param-value-->
        <param-value>http://iahx-idx02.bireme.br:8986/solr5/portal/select</param-value>
        <!-- param-value>http://localhost:8986/solr5/portal/select</param-value-->
    </context-param>
    <context-param>
        <param-name>LUCENE_THESAURI_PATH</param-name>
        <param-value>/home/javaapps/sbt-projects/BVS-InfoButton/indexes</param-value>
    </context-param>
    <servlet>
        <servlet-name>BVSInfoButton</servlet-name>
        <servlet-class>org.bireme.binfo.BVSInfoButton</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BVSInfoButton</servlet-name>
        <url-pattern>/infobutton/search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
